{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link rel="stylesheet"
    href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    rel="stylesheet">

</head>

<body>

<div class="container">

    <h2>User Login</h2>

    <form method="POST">

        {% csrf_token %}

        <input type="text"
        name="username"
        placeholder="Enter Username">

        <input type="password"
        name="password"
        placeholder="Enter Password">

        <button type="submit">
            Login
        </button>

    </form>

</div>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>